// background
.sideBgYellow {
    background: linear-gradient(#FAB28E, #E95379);
}
.sideBgGreyLighter {
    background: linear-gradient(#232530, #1C1E26);
}
.sideBgDefault {
    background: linear-gradient(#232530, #1C1E26);
}

// title color
.sideTitleYellow {
    color: #FAB28E;
}
.sideTitleDefault {
    color: #FAB28E;
}
// side heading border
.sideBorderYellow {
    border-color: #FAB28E;
}

// desc color
.sideDescYellow {
    color: #FAB28E;
}
.sideDescGreyDarker {
    color: #1A1C23;
}
.sideDescGreyLight {
    color: #6C6F93;
}
.sideDescDefault {
    color: #6C6F93;
}
