.Modal {
    position: fixed;
    z-index: 500;
    width: 90%;
    padding: 1rem;
    left: 5%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

/* Small breakpoint */
@media (min-width: 640px) {
    .Modal {
        width: 66%;
        left: calc((100% - 66%) / 2);
    }
}

/* Medium breakpoint */
@media (min-width: 768px) {
    .Modal {
        width: 50%;
        left: 25%;
    }
}

/* Large breakpoint */
@media (min-width: 1024px) {
    .Modal {
        width: 40%;
        left: 30%;
    }
}

/* Extra Large breakpoint */
@media (min-width: 1280px) {
    .Modal {
        width: 30%;
        left: 35%;
    }
}